

<svg  width="630" height="430" viewBox="0 0 630 430">
  <defs>
    <style type="text/css">

    <![CDATA[
.svgBackground{
      fill:#ffffff;
    }
    .graphBackground{
      fill:#f0f0f0;
    }
    .mainTitle{
      text-anchor: middle;
      fill: #000000;
      font-size: 14px;
      font-family: "Arial", sans-serif;
      font-weight: normal;
    }
    .subTitle{
      text-anchor: middle;
      fill: #999999;
      font-size: 12px;
      font-family: "A]]><![CDATA[rial", sans-serif;
      font-weight: normal;
    }

    .axis{
      stroke: #000000;
      stroke-width: 1px;
    }

    .guideLines{
      stroke: #666666;
      stroke-width: 1px;
      stroke-dasharray: 5 5;
    }

    .xAxisLabels{
      text-anchor: middle;
      fill: #000000;
      font-size: 12px;
      font-family: "Arial", sans-serif;
      font-weight: normal;
    }

    .yAxisLabels{
      text-anchor: end;
      fill: #000000;
      font-size: 12px;
      font-family: "Arial", sans-serif;
      font-weight: normal;
    }

    .xAxisTitle{
      text-anchor: middle;
      fill: #ff0000;
      font-size: 14px;
      font-family: "Arial", sans-serif;
      font-weight: normal;
    }

    .yAxisTitle{
      fill: #ff0000;
      writing-mode: tb;
      glyph-orientation-vertical: 0;
      text-anchor: middle;
      font-size: 14px;
      font-family: "Arial", sans-serif;
      font-weight: normal;
    }

    .dataPointLabel{
      fill: #000000;
      text-anchor:middle;
      font-size: 10px;
      font-family: "Arial", sans-serif;
      font-weight: normal;
    }

    .fill1{
      fill: #cc0000;
      fill-opacity: 0.2;
      stroke: none;
    }
    .fill2{
      fill: #0000cc;
      fill-opacity: 0.2;
      stroke: none;
    }
    .fill3{
      fill: #00cc00;
      fill-opacity: 0.2;
      stroke: none;
    }
    .fill4{
      fill: #ffcc00;
      fill-opacity: 0.2;
      stroke: none;
    }
    .fill5{
      fill: #00ccff;
      fill-opacity: 0.2;
      stroke: none;
    }
    .fill6{
      fill: #ff00ff;
      fill-opacity: 0.2;
      stroke: none;
    }
    .fill7{
      fill: #00ffff;
      fill-opacity: 0.2;
      stroke: none;
    }
    .fill8{
      fill: #ffff00;
      fill-opacity: 0.2;
      stroke: none;
    }
    .fill9{
      fill: #cc6666;
      fill-opacity: 0.2;
      stroke: none;
    }
    .fill10{
      fill: #663399;
      fill-opacity: 0.2;
      stroke: none;
    }
    /* default line styles */
    .line1{
      fill: none;
      stroke: #ff0000;
      stroke-width: 1px;
    }
    .line2{
      fill: none;
      stroke: #0000ff;
      stroke-width: 1px;
    }
    .line3{
      fill: none;
      stroke: #00ff00;
      stroke-width: 1px;
    }
    .line4{
      fill: none;
      stroke: #ffcc00;
      stroke-width: 1px;
    }
    .line5{
      fill: none;
      stroke: #00ccff;
      stroke-width: 1px;
    }
    .line6{
      fill: none;
      stroke: #ff00ff;
      stroke-width: 1px;
    }
    .line7{
      fill: none;
      stroke: #00ffff;
      stroke-width: 1px;
    }
    .line8{
      fill: none;
      stroke: #ffff00;
      stroke-width: 1px;
    }
    .line9{
      fill: none;
      stroke: #ccc6666;
      stroke-width: 1px;
    }
    .line10{
      fill: none;
      stroke: #663399;
      stroke-width: 1px;
    }

    .key1,.dataPoint1{
      fill: #ff0000;
      stroke: none;
      stroke-width: 1px;
    }
    .key2,.dataPoint2{
      fill: #0000ff;
      stroke: none;
      stroke-width: 1px;
    }
    .key3,.dataPoint3{
      fill: #00ff00;
      stroke: none;
      stroke-width: 1px;
    }
    .key4,.dataPoint4{
      fill: #ffcc00;
      stroke: none;
      stroke-width: 1px;
    }
    .key5,.dataPoint5{
      fill: #00ccff;
      stroke: none;
      stroke-width: 1px;
    }
    .key6,.dataPoint6{
      fill: #ff00ff;
      stroke: none;
      stroke-width: 1px;
    }
    .key7,.dataPoint7{
      fill: #00ffff;
      stroke: none;
      stroke-width: 1px;
    }
    .key8,.dataPoint8{
      fill: #ffff00;
      stroke: none;
      stroke-width: 1px;
    }
    .key9,.dataPoint9{
      fill: #cc6666;
      stroke: none;
      stroke-width: 1px;
    }
    .key10,.dataPoint10{
      fill: #663399;
      stroke: none;
      stroke-width: 1px;
    }
    .keyText{
      fill: #000000;
      text-anchor:start;
      font-size: 10px;
      font-family: "Arial", sans-serif;
      font-weight: normal;
    }
    ]]>
    </style>
  </defs>
  <rect x="0" y="0" width="630" height="430" class="svgBackground"/>

  <rect x="50" y="45" width="570" height="290" class="graphBackground"/>

  <path d="M50 45 v290" class="axis" id="xAxis"/>
  <path d="M50 335 h570" class="axis" id="yAxis"/>

  <text x="50" y="350" class="xAxisLabels">Jan</text>
  <text x="131" y="350" class="xAxisLabels">Feb</text>
  <text x="212" y="350" class="xAxisLabels">Mar</text>
  <text x="293" y="350" class="xAxisLabels">Apr</text>
  <text x="374" y="350" class="xAxisLabels">May</text>
  <text x="455" y="350" class="xAxisLabels">Jun</text>
  <text x="536" y="350" class="xAxisLabels">Jul</text>
  <text x="617" y="350" class="xAxisLabels">Aug</text>

  <text x="45" y="335" class="yAxisLabels">0</text>
  <text x="45" y="296" class="yAxisLabels">50</text>
  <path d="M50 296 h570" class="guideLines"/>
  <text x="45" y="257" class="yAxisLabels">100</text>
  <path d="M50 257 h570" class="guideLines"/>
  <text x="45" y="218" class="yAxisLabels">150</text>
  <path d="M50 218 h570" class="guideLines"/>
  <text x="45" y="179" class="yAxisLabels">200</text>
  <path d="M50 179 h570" class="guideLines"/>
  <text x="45" y="140" class="yAxisLabels">250</text>
  <path d="M50 140 h570" class="guideLines"/>
  <text x="45" y="101" class="yAxisLabels">300</text>
  <path d="M50 101 h570" class="guideLines"/>
  <text x="45" y="62" class="yAxisLabels">350</text>
  <path d="M50 62 h570" class="guideLines"/>

  <text x="335" y="370" class="xAxisTitle">Months</text>

  <text x="10" y="190" class="yAxisTitle">Appointments</text>

  <path d="M50 335 L      50 318.62,             212 293.66,      374 307.7,       455 311.6,       536 311.6,       617 292.1,     620 335" class="fill2"/>
  <path d="M50 335 L      50 295.22,             212 285.86,      374 292.1,       455 218,         536 140,         617 299.9,     620 335" class="fill3"/>



  <rect x="50" y="377" width="12" height="12" class="key1"/>

  <text x="67" y="389" class="keyText">Accounts</text>
  <rect x="50" y="394" width="12" height="12" class="key2"/>

  <text x="67" y="406" class="keyText">Gas Safety</text>
  <rect x="50" y="411" width="12" height="12" class="key3"/>

  <text x="67" y="423" class="keyText">Managed D</text>

  <text x="285" y="15" class="mainTitle">Sales this quarter</text>


  <text x="285" y="30" class="subTitle">(Values in thousands)</text>
</svg>